<section id="colors">
  <h1>Colors</h1>

  <.square color="dark" style="width: 100px" />
  <.square color="light" style="width: 100px" />

  <button class="button">This is a button</button>
</section>
