<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]" data-color-scheme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <script>
      window.userToken = "<%= @user_token %>";
    </script>
    <title><%= @room_code %> - Blunderfest</title>

    <%= Vite.vite_client() %>
    <%= Vite.react_refresh_snippet() %>
    <%= Vite.vite_snippet("src/main.jsx") %>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
