<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <script>
      const colorScheme =
        localStorage.getItem('color-scheme') === 'dark' || (!('color-scheme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ? "dark" : "light";

        if (colorScheme === "dark") {
          window.document.documentElement.classList.add("dark");
        } else {
          window.document.documentElement.classList.remove("dark");
        }

      window.userToken = "<%= @user_token %>";
      window.roomCode = "<%= @room_code %>";
    </script>
    <title><%= @room_code %> - Blunderfest</title>

    <%= Vite.vite_client() %>
    <%= Vite.react_refresh_snippet() %>
    <%= Vite.vite_snippet("src/main.tsx") %>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
