<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title prefix="Blunderfest · ">
      <%= assigns[:page_title] %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script>
      const key = "colorScheme";

      function setColorScheme(scheme) {
        if (!["dark", "light"].includes(scheme)) {
          scheme = "light";
        }

        document.documentElement.dataset[key] = scheme;
        localStorage.setItem(key, scheme);
      }

      (() => {
        const matcher = window.matchMedia("(prefers-color-scheme: dark)");
        matcher.addEventListener("change", (event) =>
          setColorScheme(event.matches ? "dark" : "light")
        );

        window.addEventListener("toggle-scheme", (event) =>
          setColorScheme(event.detail)
        );

        if (localStorage.getItem(key) === "dark" || (!(key in localStorage) && matcher.matches)) {
          setColorScheme("dark");
        } else {
          setColorScheme("light");
        }
      })();
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-neutral-50 dark:bg-neutral-950 text-neutral-900 dark:text-neutral-400 antialiased">
    <%= @inner_content %>
  </body>
</html>
