@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@layer base {
  :root {
    color-scheme: var(--color-scheme, light);

    --primary-50: 284 44% 95%;
    --primary-100: 286 41% 90%;
    --primary-200: 286 41% 80%;
    --primary-300: 286 42% 70%;
    --primary-400: 286 42% 60%;
    --primary-500: 286 42% 50%;
    --primary-600: 286 42% 40%;
    --primary-700: 286 42% 30%;
    --primary-800: 286 41% 20%;
    --primary-900: 286 41% 10%;
    --primary-950: 289 44% 5%;

    --secondary-50: 284 60% 95%;
    --secondary-100: 286 61% 90%;
    --secondary-200: 286 59% 80%;
    --secondary-300: 286 59% 70%;
    --secondary-400: 286 59% 60%;
    --secondary-500: 286 59% 50%;
    --secondary-600: 286 59% 40%;
    --secondary-700: 286 59% 30%;
    --secondary-800: 286 59% 20%;
    --secondary-900: 286 61% 10%;
    --secondary-950: 288 60% 5%;

    --accent-50: 288 77% 95%;
    --accent-100: 286 76% 90%;
    --accent-200: 286 78% 80%;
    --accent-300: 286 78% 70%;
    --accent-400: 286 78% 60%;
    --accent-500: 286 78% 50%;
    --accent-600: 286 78% 40%;
    --accent-700: 286 78% 30%;
    --accent-800: 286 78% 20%;
    --accent-900: 286 76% 10%;
    --accent-950: 285 77% 5%;

    &[data-color-scheme="dark"] {
      --content-50: 270 8% 5%;
      --content-100: 276 10% 10%;
      --content-200: 270 8% 20%;
      --content-300: 272 8% 30%;
      --content-400: 270 8% 40%;
      --content-500: 269 8% 50%;
      --content-600: 270 8% 60%;
      --content-700: 272 8% 70%;
      --content-800: 270 8% 80%;
      --content-900: 276 10% 90%;
      --content-950: 270 8% 95%;

      --background-50: 278 31% 5%;
      --background-100: 280 29% 10%;
      --background-200: 280 29% 20%;
      --background-300: 280 29% 30%;
      --background-400: 280 30% 40%;
      --background-500: 280 30% 50%;
      --background-600: 280 30% 60%;
      --background-700: 280 29% 70%;
      --background-800: 280 29% 80%;
      --background-900: 280 29% 90%;
      --background-950: 285 31% 95%;

      --primary-50: 289 44% 5%;
      --primary-100: 286 41% 10%;
      --primary-200: 286 41% 20%;
      --primary-300: 286 42% 30%;
      --primary-400: 286 42% 40%;
      --primary-500: 286 42% 50%;
      --primary-600: 286 42% 60%;
      --primary-700: 286 42% 70%;
      --primary-800: 286 41% 80%;
      --primary-900: 286 41% 90%;
      --primary-950: 284 44% 95%;

      --secondary-50: 288 60% 5%;
      --secondary-100: 286 61% 10%;
      --secondary-200: 286 59% 20%;
      --secondary-300: 286 59% 30%;
      --secondary-400: 286 59% 40%;
      --secondary-500: 286 59% 50%;
      --secondary-600: 286 59% 60%;
      --secondary-700: 286 59% 70%;
      --secondary-800: 286 59% 80%;
      --secondary-900: 286 61% 90%;
      --secondary-950: 284 60% 95%;

      --accent-50: 285 77% 5%;
      --accent-100: 286 76% 10%;
      --accent-200: 286 78% 20%;
      --accent-300: 286 78% 30%;
      --accent-400: 286 78% 40%;
      --accent-500: 286 78% 50%;
      --accent-600: 286 78% 60%;
      --accent-700: 286 78% 70%;
      --accent-800: 286 78% 80%;
      --accent-900: 286 76% 90%;
      --accent-950: 288 77% 95%;
    }

    @media screen and (prefers-reduced-motion: reduce), (update: slow) {
      --transition-duration: none;
    }
  }
}
