.button {
  background-color: var(--surface-2);
}

.square.dark {
  background-color: hsl(var(--square-dark));
}

.square.light {
  background-color: hsl(var(--square-light));
}

.active {
  font-weight: bolder;
}
