{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "printWidth": 130,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["tv", "clsx", "twMerge"]
}
