<.header>
  <%= @room_code %>
  <:subtitle>Subtitel</:subtitle>
  <:actions>
    <.button phx-click="copy_link" title={gettext("Copy to clipboard")}>
      <.icon name="hero-share" />
    </.button>
  </:actions>
</.header>
page live
<p>User id: <%= @user_id %></p>
<p>Room code: <%= @room_code %></p>
<ul>
  <li :for={user <- @users}>
    <%= user.phx_ref %> - <%= user.user_id %>
  </li>
</ul>
<.list>
  <:item title="Title">title</:item>
  <:item title="Views">views</:item>
</.list>
