<h1 class="font-semibold text-2xl">Welcome to our website</h1>
<p>... Content goes <.icon name="hero-lock-closed" /> here ...</p>

<div id="board" phx-update="stream" class="gap-0 grid grid-cols-8 grid-rows-8">
  <.square
    :for={{dom_id, square} <- @streams.squares}
    id={dom_id}
    square_index={square.square_index}
    selected={square.selected}
    color={square.color}
  />
</div>
