page live
<p>User id: <%= @user_id %></p>
<p>Room code: <%= @room_code %></p>
<ul>
  <li :for={user <- @users}>
    <%= user.phx_ref %> - <%= user.user_id %>
  </li>
</ul>

<.header>
  Titel
  <:subtitle>Subtitel</:subtitle>
  <:actions>Some actions</:actions>
</.header>
<.button>
  Dit is een knop
</.button>

<.back navigate={~p"/posts"}>Back to posts</.back>

<.icon name="hero-x-mark-solid" />
